#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

{% include './sections/server.yaml.j2' +%}
{% if prometheus_exporter_port is defined %}
{% include './sections/monitoring.yaml.j2' +%}
{% endif %}

{% include './sections/logging.yaml.j2' +%}

# ---------------------------------------------------------------------------
# HLFX Orderers connection settings
# The HLFX Committer Sidecar component pulls blocks from the ordering
# service.
# ---------------------------------------------------------------------------
orderer:
  # Channel ID
  channel-id: {{ channel_id }}
  # Consensus Type ("BFT" or "CFT")
  consensus-type: BFT
  # Connection settings
  connection:
    # HLFX Orderer endpoints
    endpoints:
{% for orderer_assembler in orderer_assemblers %}
      - {{ hostvars[orderer_assembler].ansible_host }}:{{ hostvars[orderer_assembler].orderer_rpc_port }}
{% endfor %}
{% if (hostvars[orderer_assembler_ref_host].orderer_use_tls is defined) and hostvars[orderer_assembler_ref_host].orderer_use_tls %}
    # Define TLS options and certificate paths used for secure communication
    # between the sidecar and the orderers.
    tls:
      # Server CA certificates to trust if tls is enabled.
      ca-cert-paths:
{% for orderer_assembler in orderer_assemblers %}
{% if (hostvars[orderer_assembler].orderer_use_tls is defined) and hostvars[orderer_assembler].orderer_use_tls %}
        - {{ committer_config_dir }}/tls/orderers/{{ orderer_assembler }}/ca.crt
{% endif %}
{% endfor %}
{% if (hostvars[orderer_assembler_ref_host].orderer_use_mtls is defined) and hostvars[orderer_assembler_ref_host].orderer_use_mtls %}
      # Path to the TLS key file (private key).
      key-path: {{ committer_config_dir }}/tls/server.key
      # Path to the TLS certificate file (public key).
      cert-path: {{ committer_config_dir }}/tls/server.crt
      # TLS configuration modes ("none", "tls" or "mtls")
      mode: mtls
{% else %}
      # TLS configuration modes ("none", "tls" or "mtls")
      mode: tls
{% endif %}
{% endif %}

# ---------------------------------------------------------------------------
# HLFX Committer Coordinator connection settings
# The HLFX Committer Sidecar pushes the blocks to the HFLX Committer
# Coordinator and pulls from the latter the block statuses.
# ---------------------------------------------------------------------------
committer:
  # HLFX Committer Coordinator endpoint
  endpoint: {{ hostvars[committer_coordinator].ansible_host }}:{{ hostvars[committer_coordinator].committer_rpc_port }}
{% if (hostvars[committer_coordinator].committer_use_tls is defined) and hostvars[committer_coordinator].committer_use_tls %}
  # Define TLS options and certificate paths used for secure communication
  # between the sidecar and the coordinator.
  tls:
    # Server CA certificates to trust if tls is enabled.
    ca-cert-paths:
      - {{ committer_config_dir }}/tls/coordinator/ca.crt
{% if (hostvars[committer_coordinator].committer_use_mtls is defined) and hostvars[committer_coordinator].committer_use_mtls %}
    # Path to the TLS key file (private key).
    key-path: {{ committer_config_dir }}/tls/server.key
    # Path to the TLS certificate file (public key).
    cert-path: {{ committer_config_dir }}/tls/server.crt
    # TLS configuration modes ("none", "tls" or "mtls")
    mode: mtls
{% else %}
    # TLS configuration modes ("none", "tls" or "mtls")
    mode: tls
{% endif %}
{% endif %}

# ---------------------------------------------------------------------------
# Relay Settings
# ---------------------------------------------------------------------------
# Interval for setting the last committed block to the HLFX Committer Coordinator
last-committed-block-set-interval: {{ committer_sidecar_last_committed_block_set_interval | default('5s') }}

# ---------------------------------------------------------------------------
# Ledger settings
# ---------------------------------------------------------------------------
ledger:
  # Path where to store the ledger
  path: {{ committer_config_dir }}/ledger
  # Sync interval
  sync-interval: {{ committer_sidecar_sync_interval | default(100) }}
